{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep"]
      }
    ],
    "selector-class-pattern": null,
    "no-descending-specificity": null
  },
  "customSyntax": "postcss-html",
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}
